body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body,
#root {
  background-color:lavender;
  color:darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#root {
  margin-top: 30px;
}

h2 {
  margin: 0;
  text-align: center;
}

.content {
  background-color: white;
  color:black;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  width: 50%;
  box-sizing: border-box;
}

.form-content {
  background-color: white;
  color:black;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 20px;
  width: 300px;
}

p {
  margin: 0
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

button {
  margin: 5px;
  padding: 6px 16px;
  background-color:darkslateblue;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.label {
  margin: 5px 0;
}

.input {
  width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.errors {
  background-color: lightpink;
  color: red;
  padding: 10px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 12px;
}

.errors ul {
  margin: 0;
  padding: 0 0 0 12px;
}

#app {
  width: 100%;
  box-sizing: border-box;
}
